/* Original Tailwind preflight settings */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer tailwind-base,
primereact,
tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TODO: rewrite with Tailwind CSS */
.p-datatable .p-datatable-tbody > tr > td {
  padding: 0;
}
